<ion-view view-title="Test">
  <ion-content ng-controller="AdminController">
    <button class = "button" ng-click = "showPopup()" style="background: #25c3c3;color: white;border-radius: 1px;margin-top: 10px;margin-bottom: 14px;">Add New Records</button>
    <!-- <ion-list>
      <ion-item class="" ng-repeat="task in tasksArray" type="item-text-wrap">
        <p>{{task.id}}</p>
        <p>{{task.name}}</p>
        <p>{{task.description}}</p>
        <p>{{task.expiry_date}}</p>
      </ion-item -->>
    </ion-list>
  </ion-content>
</ion-view>